@use "../variables.scss" as *;
@use "sass:color";

.button {
  margin: 1.25em 1.5em;
  outline: $dark3 solid 0.25rem;
  border-radius: $border-radius;
  background-color: $dark1;
  cursor: pointer;
  padding: 0.75em;
  text-align: center;
  text-decoration: none;
  line-height: 2.875ch;
  color: $light;
  font-family: "JetBrains Mono",'Courier New', Courier, monospace;
  
  &:hover {
    outline-color: $blue !important;
    box-shadow: 0 0 0.5em $blue;
    text-shadow: 0 0 0.125ch $blue;
  }

  &:focus, &:active {
    outline-color: $green !important;
    box-shadow: 0 0 0.5em $green;
    text-shadow: 0 0 0.125ch $green;
  }

  &:visited {
    color: inherit;
  }
}

html.light .button {
  outline-color: $light2;
  background-color: $light1;
  text-shadow: unset !important;
  color: $dark !important;
}