@use "../variables.scss" as *;

.button {
  // most readable CSS way to align the text
  display: flex;
  align-items: center;
  justify-content: center;

  // the button body
  margin: 0.75em 0.375em;
  outline: $dark2 solid 0.375rem;
  border-radius: 1rem;
  background-color: $dark1;
  padding: 0.5em;
  text-decoration: none;
  color: $light !important;

  &:hover,
  &:focus,
  &:active {
    outline-color: $blue;
    box-shadow: 0 0 0.5rem $blue;
    color: $blue;
  }

  &:focus {
    outline-color: $green;
  }

  &:active {
    outline-color: $green;
    color: $green;
  }

  &:visited {
    color: inherit;
  }
}
