@use "../variables.scss" as *;

$top-padding: 2rem;

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .logo img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6.75px 1em;
    padding-top: calc(6.75px + $top-padding);
    width: unset;
    height: 5rem;
  }

  .mobile-background {
    position: fixed;
    z-index: 10;
    border-left: dashed $dark 0.25rem;
    background-color: $light;
    width: 50vw;
    height: 100vh;
  }

  .nav-items {
    position: absolute;
    z-index: 20;
    margin-top: calc(6.375rem + $top-padding);
    padding: 0;
    width: 50vw;
    list-style-type: none;

    li {
      opacity: 0;
    }
  }

  .mobile-background,
  .nav-items {
    transform: scale(0, 1);
    transform-origin: top right;
    transition: transform 150ms ease-out;
    max-width: $small;
  }

  .button {
    display: block;
    margin: 1em 0.5em;
    text-align: center;
    color: $dark;
  }

  #hamburger-input {
    display: none;
  }

  .hamburger-button {
    display: block;
    z-index: 20;
    cursor: pointer;
    padding: 1.5em 1em;
    padding-top: calc(1.5em + $top-padding);
  }

  .hamburger-lines,
  .hamburger-lines::before,
  .hamburger-lines::after {
    display: block;
    transition: background-color 150ms ease-in-out;
    background-color: $dark;
    width: 4rem;
    height: 0.375rem;
  }

  .hamburger-lines::before,
  .hamburger-lines::after {
    box-sizing: border-box;
    position: absolute;
    transform-origin: center center;
    transition: transform 150ms ease-out;
    transition: margin 150ms ease-in;
    content: "";
  }

  .hamburger-lines::before {
    margin-top: -1rem;
  }

  .hamburger-lines::after {
    margin-top: 1rem;
  }

  #hamburger-input:checked ~ label {
    .hamburger-lines {
      transition: background-color 150ms ease-out;
      transition: transform 150ms;
      background-color: $light;

      &::before,
      &::after {
        background-color: $dark;
      }

      &::before {
        transform: rotate(135deg);
        transition: transform 150ms ease-in;
        transition: margin 150ms ease-in;
        margin-top: 0;
      }

      &::after {
        transform: rotate(-135deg);
        transition: transform 150ms ease-in;
        transition: margin 150ms ease-in;
        margin-top: 0;
      }
    }

    ~ .mobile-background,
    ~ .nav-items {
      transform: scale(1, 1);
      transition: transform 150ms ease;
    }

    ~ .nav-items li {
      transition: 225ms opacity ease-in;
      opacity: 1;
    }
  }

  @media screen and (min-width: $medium) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.25rem dashed $dark;
    width: 100%;
    height: 6rem; // magic value afaik

    .logo {
      display: block;
      align-self: flex-start;

      img {
        padding-top: 6.75px;
      }
    }

    .hamburger-button,
    .mobile-background {
      display: none;
    }

    .nav-items {
      display: flex;
      position: relative;
      justify-content: space-between;
      transform: none;
      margin: 0;
      padding: 0 1em;
      width: unset;
      max-width: unset;

      li {
        opacity: 1;

        &:first-of-type a {
          margin-left: 0;
        }

        &:last-of-type a {
          margin-right: 0;
        }
      }

      a {
        color: $dark;
      }
    }
  }
}
