{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-concentric-order"
  ],

  "plugins": [
    "stylelint-scss"
  ],

  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "max-line-length": null
  }
}
