@use "sass:math";
@use "./variables.scss" as *;

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  margin: 0;
  background-color: $background;
  padding: 0;
  color: $light;
  font-family: "JetBrains Mono", Roboto, Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}


img {
  display: block;
  width: 100%;
}

h3,
h4,
h5 {
  max-width: fit-content;
}

b {
  color: $blue;
}

a {
  color: $blue;

  &:active {
    color: $red;
  }

  &:visited {
    color: $purple;
  }
}

hr {
  outline-color: $dark1;
  border-color: $dark1;
  background-color: $dark1;
  width: 50%;
  max-width: calc($medium - 2rem);
  height: 1px;
  color: $dark1;
}
