// Colors
$light: hsl(210deg 20% 98%);
$dark1: hsl(205deg 15% 20%);
$dark2: hsl(205deg 15% 30%);
$dark3: hsl(205deg 15% 40%);
$darker: hsl(205deg 15% 15%);
$blue: hsl(205deg 100% 60%);
$red: hsl(334deg 50% 50%);
$orange: hsl(18deg 50% 60%);
$purple: hsl(250deg 50% 60%);
$yellow: #cc6;
$green: #48a07c;
$blue-light: hsl(205deg 100% 80%);

// Media Query Breakpoints
$small: 400px;
$medium: 700px;
$large: 1600px;

// Article
$article-width: 800px;
