// Colors
$light: hsl(210deg 20% 98%);
$light1: hsl(205deg 15% 95%);
$light2: hsl(205deg 15% 80%);
$light3: hsl(205deg 20% 40%);
$dark: hsl(205deg 15% 8%);
$dark1: hsl(205deg 15% 10%);
$dark2: hsl(205deg 15% 20%);
$dark3: hsl(205deg 15% 30%);
$background-dark: linear-gradient(45deg, hsl(188, 17%, 9%), hsl(185, 26%, 8%));
$background-light: linear-gradient(45deg, hsl(194, 38%, 98%), hsl(180, 81%, 99%));
$dark-blue: hsl(205deg 100% 25%);
$blue: hsl(205deg 100% 60%);
$light-blue: hsl(205deg 100% 80%);
$red: hsl(334deg 50% 45%);
$purple: hsl(250deg 50% 50%);
$yellow: hsl(60deg 50% 60%);
$green: hsl(143, 35%, 37%);

// Tags
$linux-tag: rgb(97, 97, 97);
$security-tag: $red;
$origami-tag: hsl(207, 100%, 40%);
$android-tag: $green;
$coding-tag: $purple;

// Media Query Breakpoints
$small: 400px;
$medium: 700px;
$large: 1600px;

// Article
$article-width: 700px;

// Sidebar
$sidebar-width: 500px;

// Fonts
$base-font-size: 1.6rem;
$code-font: "Fira Code Variable";
$normal-font: $code-font, "Roboto Variable", ubuntu, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", oxygen, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$article-font: "Rethink Sans Variable", $normal-font;

// General UIf
$border-radius: 4px;