<blockquote>
  The page appears to have been lost <br />
  This is but the <span>404</span> HTTP response <br />
  Could it be a typo or a misplaced key? <br />
  Maybe not for prying eyes to see...
</blockquote>

<style lang="scss">
  @forward "../styles/global.scss";
  @use "../styles/variables.scss" as *;

  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  blockquote {
    line-height: 3ch;
    font-size: 2.5ch;

    span {
      color: $red;
      font-weight: 900;
    }
  }
</style>
