---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

import "../styles/layouts/blogPost.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={"About me" + " | " + SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Nav />
    <article>
      <h1>Mircea-Sebastian Turtureanu</h1>
      <p>
        Hi! 👋 <br />
        <br />
        Name's Sebastian, I'm a hobbyist who self-taught himself front-end web development,
        Linux administration, and origami. I like hardening Linux servers and thinking
        of new ways of protecting against possible threats. My current field of study
        is cybersecurity, but I am also interested in general IT and programming
        languages.
        <br />
        <br />
        My favorite color's a saturated blue around <span
          style="background-color: #303030; color:#00AAFF">#00AAFF</span
        >.
      </p>

      <h2>Certifications</h2>
      <ul class="certs">
        <li>
          <a
            href="https://www.freecodecamp.org/certification/turtureanu/responsive-web-design"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/FCC-responsive-certification.png"
              alt="Screenshot of my FreeCodeCamp certification for Responsive Web Design"
            />
            <p>FreeCodeCamp: Responsive Web Design</p>
          </a>
        </li>
        <li>
          <a
            href="https://www.freecodecamp.org/certification/turtureanu/javascript-algorithms-and-data-structures"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/FCC-JS-certification.png"
              alt="Screenshot of my FreeCodeCamp certification for JavaScript Algorithms and Data Structures"
            />
            <p>FreeCodeCamp: JavaScript Algorithms and Data Structures</p>
          </a>
        </li>
      </ul>
      <ul class="social">
        <li>
          GitHub: <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/turtureanu"
            >https://github.com/turtureanu</a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://getsession.org">Session</a
          > ID: 050ca685dc6ad14eb5a79cf0007f36802b109dcaba70e63bcf0a691e64c62ec56d
        </li>
        <li>
          Email: <a href="mailto:sebastian.knowleaks.r9q1g@aleeas.com"
            >sebastian.knowleaks.r9q1g@aleeas.com</a
          >
        </li>
      </ul>
    </article>
    <style lang="scss">
      .certs {
        list-style: none;
        text-align: center;

        p {
          padding: 1em;
        }
      }
    </style>
  </body>
</html>
