---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import "../styles/layouts/article-categories.scss";
import "../styles/components/button.scss";
import "../styles/components/menu.scss";

import { SITE_TITLE } from "../config";

const posts = (await Astro.glob("./cybersecurity/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={"Cybersecurity" + " | " + SITE_TITLE}
      description="Cybersecurity | Everything I find interesting, really."
    />
  </head>
  <body class="article-categories">
    <Nav />
    <h1>Cybersecurity</h1>
    <main>
      <nav class="menu">
        {
          posts.map((post) => {
            if (!post.frontmatter.draft) {
              // all posts which are not drafts
              return (
                <a href={post.url} class="button">
                  {post.frontmatter.title}
                </a>
              );
            }
          })
        }

        <style lang="scss">
          h1 {
            text-align: center;
          }
        </style>
      </nav>
    </main>
  </body>
</html>
