---
import BaseHead from "../components/BaseHead.astro";
import BlogPosts from "../components/BlogPosts.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="center">
      <Header />
      <BlogPosts />
    </div>
  </body>
</html>

<style lang="scss">
  @use "../styles/variables.scss" as *;

  .center {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    max-width: $medium;
  }
</style>

<style lang="scss" is:global>
  @use "../styles/components/button.scss" as *;
</style>
