---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import "../styles/components/button.scss";
import "../styles/components/menu.scss";
const posts = (await Astro.glob("./*/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf(),
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header>
      <h1>Sharing things I might <i>forget</i>.</h1>
      <nav class="menu">
        <a class="button" href="/cybersecurity">Cybersecurity</a>
        <a class="button" href="/origami">Origami</a>
        <a class="button" href="/linux">Linux</a>
        <a class="button" href="/other">Other</a>
        <style>
          nav.menu {
            grid-template-columns: 50% 50%;
          }
        </style>
      </nav>
    </header>

    <section class="menu new-posts">
      <h2>New posts</h2>
      {
        posts.slice(0, 5).map((post) => {
          if (!post.frontmatter.draft) {
            // all posts which are not drafts
            return (
              <a href={post.url} class="button">
                {post.frontmatter.title}
              </a>
            );
          }
        })
      }
    </section>
    <footer>
      <nav class="menu">
        <a class="button" href="/about-me">About me</a>
        <a class="button" href="https://github.com/turtureanu/personal-website"
          >Website Source code</a
        >
      </nav>
    </footer>
    <style lang="scss">
      @use "src/styles/variables.scss" as *;

      header {
        h1 {
          margin: 0;
          padding: 1em;
          padding-bottom: 0.5em;
          text-align: center;
          font-size: 2.5rem;
          font-weight: 500;
        }
      }

      .new-posts {
        grid-template-columns: 100%;
      }
    </style>
  </body>
</html>
