---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import "../styles/layouts/article-categories.scss";
import "../styles/components/button.scss";
import "../styles/components/menu.scss";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = (await Astro.glob("./origami/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={"Origami" + " | " + SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body class="article-categories">
    <Nav />
    <h1>Origami</h1>
    <main>
      <nav class="menu">
        {
          posts.map((post) => {
            if (!post.frontmatter.draft) {
              // all posts which are not drafts
              return (
                <a href={post.url} class="button">
                  {post.frontmatter.title}
                </a>
              );
            }
          })
        }
      </nav>
    </main>
  </body>
</html>
