---
const { filename, content } = Astro.props;
---

<a href={filename} class="button" download={filename}>{content}</a>

<style lang="scss">
  @use "src/styles/variables.scss" as *;
  @use "src/styles/components/button.scss";

  a.button {
    margin: 0;
    &,
    &:hover {
      background: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
</style>
