---
import "../styles/components/button.scss";
import "..//styles/components/nav.scss";
---

<nav class="site-nav">
  <input type="checkbox" id="hamburger-input" />
  <label for="hamburger-input" class="hamburger-button"
    ><span class="hamburger-lines"></span>
  </label>
  <div class="mobile-background"></div>
  <a href="/index.html" class="logo">
    <img src="/logo-know.svg" alt="Knowleaks logo" />
  </a>
  <ul class="nav-items">
    <li><a class="button" href="/cybersecurity">Cybersecurity</a></li>
    <li><a class="button" href="/origami">Origami</a></li>
    <li><a class="button" href="/linux">Linux</a></li>
    <li><a class="button" href="#">Other</a></li>
  </ul>
</nav>
