@use "../variables.scss" as *;
@use "sass:color";
@use "sass:math";

article {
  margin: 0 auto;
  padding: 5rem 2.5rem;
  max-width: $article-width;
  overflow-wrap: break-word;
  word-wrap: break-word;

  a {
    color: $light;

    &:hover {
      text-decoration: underline 0.25ch $blue;
      text-decoration-skip-ink: none;
    }

    &:visited:hover {
      text-decoration-color: $purple;
    }
  }

  // two images on top on each other
  img + img {
    margin-top: 2rem;
  }

  .article-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // article thumbnail
  .article-header + hr + p img {
    display: block;
    width: 100%;
    max-height: calc((100vh / 1));
    object-fit: cover;
    object-position: center;
  }

  h1 {
    margin: 0;
    padding: 1em 0.5em 1em 0;
    line-height: 2.25ch;
    letter-spacing: 0.075ch;
  }

  time {
    display: block;
    min-width: max-content;
  }

  h2 {
    font-size: 2ch;

    &::before {
      content: "## ";
    }
  }

  h3 {
    font-size: 1.875ch;

    &::before {
      content: "### ";
    }
  }

  h4 {
    &::before {
      content: "#### ";
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.5em 0 -0.25em;
    font-weight: 900;

    &::before {
      opacity: 0.5;
      font-weight: 400;
    }

    &:hover {
      cursor: pointer;

      &::before {
        opacity: 0.75;
      }
    }
  }

  .copied {
    &::after {
      opacity: 0.5;
      animation: fade-out 1000ms ease-out 500ms;
      font-size: smaller;
      content: " (copied URL)";

      @keyframes fade-out {
        from {
          opacity: 0.5;
        }

        to {
          opacity: 0;
        }
      }
    }
  }

  p {
    line-height: 3ch;
  }

  blockquote {
    margin: 0;
    border-left: solid 0.5rem $blue;
    border-radius: 0.75rem;
    background-color: color-mix(in srgb, $blue 20%, $dark1 100%);
    padding: 0 1em;
    font-size: 1.6ch;

    * {
      padding: 0.5em 0;
    }

    p code {
      color: $blue-light !important;
      font-weight: 900;
    }
  }

  // astro stuff
  .astro-code {
    border-radius: 0.75rem;
    background-color: $dark1 !important;
    padding: 1em 0;
    max-height: math.div($article-width, 2);
    font-size: 1.5ch;

    .line {
      padding: 0 1em;
    }

    &,
    code {
      font-family: inherit;
    }
  }

  code:not(.astro-code > code) {
    color: $blue;
    font-family: inherit;
  }

  ol li {
    padding: 0.5em 0.25em;

    &::marker {
      color: $blue;
    }
  }

  ul li::marker {
    color: $blue;
    font-size: 2ch;
    font-weight: 900;
  }

  hr {
    margin: 1em 0;
    width: 100%;
    max-width: 100%;
  }

  iframe {
    display: block;
    margin: 0 auto;
  }

}
